body{
    margin:0px;
}

#cabecera{
    width: 900px;
    height: 100px;
    padding: 20px;
    background-color: #ccc ;
    margin: 0 auto;
}

#cuerpo{
    width: 900px;
    height: 500px;
    padding: 20px;
    background-color: #fff ;
    margin: 0 auto;
}
#pie{
    width: 900px;
    height: 30px;
    padding: 20px;
    background-color: #999 ;
    margin: 0 auto;
}
